# Deployment used by \`npx convex dev\`
CONVEX_DEPLOYMENT=dev:adjective-animal-123 # team: team-name, project: project-name
NEXT_PUBLIC_CONVEX_URL=https://adjective-animal-123.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://adjective-animal-123.convex.site # Same as NEXT_PUBLIC_CONVEX_URL but ends in .site

# Auth
BETTER_AUTH_SECREt=your-auth-secret
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret

# Your local site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# MUX
MUX_TOKEN_ID=your-token-id
MUX_TOKEN_SECRET=your-token-secret
MUX_SIGNING_KEY_ID=your-signing-key-id
MUX_SIGNING_KEY_PRIVATE=your-signing-key-private

# PAYMOB
PAYMOB_API_KEY=your-api-key
PAYMOB_HMAC=your-hmac
PAYMOB_SECRET_KEY=your-secret-key
PAYMOB_INTEGRATION_ID=your-integration-id
PAYMOB_SUBSCRIPTION_PLAN_ID=your-subscription-plan-id
NEXT_PUBLIC_PAYMOB_PUBLIC_KEY=your-public-key